@use "sass:map";
@use "../abstracts/font";
@use "../abstracts/mixin";
@use "../abstracts/colors";
$base-class: footer;

// .footer

.#{$base-class} {
  display: flex;
  flex-direction: column;

  background-image: url(./images/image-footer.jpg);
  background-size: cover;
  background-position: center;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: map.get(colors.$colors, gray);
  }

  &__nav {
    margin-bottom: 3rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  @include mixin.responsive(md) {
    &__items {
      flex-direction: row;
      justify-content: center;
    }
  }
}
