@use "sass:map";
@use "../abstracts/screen-size";
@use "../abstracts/placeholders";
@use "../abstracts/mixin";
@use "../abstracts/font";
@use "../abstracts/colors";

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;

  &__hambergar {
    @include mixin.responsive(sm) {
      display: none;
    }
  }

  &__nav {
    display: none;

    @include mixin.responsive(sm) {
      display: flex;
      font-size: map.get(font.$font, font-size, small);
      color: map.get(colors.$colors, gray);
    }
  }

  &__nav-list {
    display: flex;
    gap: 1rem;
  }
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: map.get(colors.$colors, black);
  color: map.get(colors.$colors, white);
  list-style: none;
  padding-top: 4rem;

  &__closeIcon {
    display: none;
    color: map.get(colors.$colors, white);
  }
}

.showMenu {
  transform: translateY(0);
}
