@use "sass:map";
@use "../abstracts/screen-size";
@use "../abstracts/placeholders";
@use "../abstracts/mixin";
@use "../abstracts/font";
@use "../abstracts/colors";

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;

  &__nav {
    display: none;

    @include mixin.responsive(sm) {
      display: flex;
      font-size: map.get(font.$font, font-size, small);
      color: map.get(colors.$colors, gray);
    }
  }

  &__nav-list {
    display: flex;
    gap: 1rem;
  }
}
