@use "sass:map";
@use "../abstracts/font";
@use "../abstracts/colors";
$base-class: history;

// .history

.#{$base-class} {
  padding: 4rem 0;

  &__title {
    font-size: map.get(font.$font, font-size, medium);
    margin-bottom: 1rem;
  }

  &__date {
    padding: 1rem;
  }

  &__contents {
    padding-bottom: 2rem;
    padding-left: 1.7rem;
    margin-left: 1.5rem;
    border-left: 1px solid map.get(colors.$colors, gray);
  }

  &__contents-list {
    padding: 0.5rem 1rem;
    background-color: rgb(240, 240, 240);

    li {
      list-style: inside;
    }
  }
}
