$font: (
  font-family: (
    primary: "Bai Jamjuree",
    generic: "sans-serif",
  ),
  font-weight: (
    regular: 400,
    bold: 700,
  ),
  font-style: normal,
  font-size: (
    small: 1rem,
    medium: 1.5rem,
    large: 2rem,
  ),
);
