@use "sass:map";
@use "./base/font";
@use "./components/header";
@use "./components/home";
@use "./components/about";

:root {
  font-family: map.get(font.$font, font-family, primary),
    map.get(font.$font, font-family, generic);
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  padding: 1rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
